<h1>Create Movie</h1>
<form action="/movies/create" method="POST">
  <label for="title">Title </label>
    <input name="title" type="text" id="title" />
  <label for="genre">Genre</label>
    <input name="genre" type="text" id="genre" />
  <label for="plot">Plot</label>
    <input name="plot" type="text" id="plot" />
<label for="cast">Cast</label>
  <select name="cast" id="cast">
    {{#each celebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <button class="p-2 bg-blue-800 text-black" type="submit">Create Movie</button>
</form>